<h1>Dashboard</h1>
<ng-container *ngIf="stations$ | async as stations">
    <div class="stations-wrapper">
        <msn-station *ngFor="let s of stations" [station]="s"></msn-station>
    </div>
</ng-container>
