<form autocomplete="off">
    <h2>Login</h2>
    <div>
        <msc-text-input name="email" placeholder="Some Text" type="email" [(ngModel)]="model.email" #name=ngModel required></msc-text-input>
    </div>
    <msc-button label="Login" goal="Primary" [disabled]="name.invalid" (click)="login()"></msc-button>
</form>
