<mat-card>
    <mat-card-header>
        <mat-card-title>{{station.name}}</mat-card-title>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item [disabled]="displayType === 'recent'" (click)="setDisplay('recent')">Recent</button>
            <button mat-menu-item [disabled]="displayType === 'week'" (click)="setDisplay('week')">Last Week</button>
            <button mat-menu-item [disabled]="displayType === 'wind'" (click)="setDisplay('wind')">Wind</button>
            <button mat-menu-item>Details</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="appMenu" class="menu-toggle">
            [I]
        </button>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="displayType !== 'wind'; else grid">
            <msc-chart *ngIf="tempData" [data]="tempData"></msc-chart>
        </ng-container>
        <ng-template #grid>
            <msc-wind-grid *ngIf="windData" [data]="windData"></msc-wind-grid>
        </ng-template>
    </mat-card-content>
</mat-card>
