@import 'variables';

:host {
    display: block;
    margin-bottom: $spacer * 2;
    max-width: $small;
    min-width: $small;
    width: $small;
    padding: 0 $spacer* 2;

    @media screen and (min-width: $bp-medium) {
        max-width: $medium;
        min-width: $medium;
        width: $medium;
    }

    @media screen and (min-width: $bp-large) {
        max-width: $large;
        min-width: $large;
        width: $large;
    }

    @media screen and (min-width: $bp-x-large) {
        max-width: $x-large;
        min-width: $x-large;
        width: $x-large;
    }
}

mat-card-header {
    align-items: center;
    justify-content: space-between;
}

.menu-toggle {
    margin-right: -$spacer;
    margin-top: -$spacer;
}
