<h1>Dashboard</h1>
<ng-container *ngIf="stations; else spinner">
    <div class="stations-wrapper">
        <msc-station *ngFor="let s of stations" [station]="s"></msc-station>
    </div>
</ng-container>
<ng-template #spinner>
    <msc-spinner></msc-spinner>
</ng-template>
