<h1>States</h1>
<ag-grid-angular
    *ngIf="states else spinner"
    class="ag-theme-material"
    [columnDefs]="columns"
    [rowData]="states" style="width: 100%; height: 500px"
    (gridReady)="sizeGrid($event)"
    (gridSizeChanged)="sizeGrid($event)"
></ag-grid-angular>
<ng-template #spinner>
    <msc-spinner></msc-spinner>
</ng-template>
