@import 'variables';
@import '~@mosaic/core/src/global/common';
@import 'grid';

*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}

:root {
    --msn-border: #{$moonstone-very-light};
    --msn-highlight: #{$lapis-regular};
    --msn-text: #{$moonstone-very-dark};
    --msn-light: #{$quartz}
}
