$blue-gray-900: #2f3235;
$blue-gray-800: #4d5257;
$blue-gray-700: #6c737a;
$blue-gray-600: #8b949d;
$blue-gray: #a9b4bf;
$blue-gray-400: #b8c1ca;
$blue-gray-300: #c8cfd6;
$blue-gray-200: #d7dce1;
$blue-gray-100: #e7eaed;
$blue-gray-50: #f7f8f9;

$dark: #000;
$highlight: blue;

$spacer: 0.5rem;

$small: 100%;
$medium: 50%;
$large: 33.33333%;
$x-large: 25%;

$bp-medium: 1000px;
$bp-large: 1600px;
$bp-x-large: 2000px;
