@import 'variables';

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin.scss";

.ag-theme-material {
    @include ag-theme-material();
}

*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}

h1 {
    padding-bottom: $spacer * 2;
}

:root {
    --msc-bg: #{$blue-gray-50};
    --msc-border: #{$blue-gray-300};
    --msc-header: #{$blue-gray-200};
    --msc-highlight: #{$highlight};
    --msc-text: #{$dark};
}
