<form autocomplete="off">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="msc-form-control">
                <input
                    matInput
                    name="username"
                    required
                    type="email"
                    placeholder="Email"
                    [(ngModel)]="model.email"
                    autocomplete="username"
                />
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button
                type="submit"
                mat-flat-button
                color="primary"
                class="w-100 c-mb-1 msc-button"
                (click)="login()"
                [disabled]="!(model.email)"
            >
                Login
            </button>
        </mat-card-actions>
    </mat-card>
</form>
