<mat-form-field>
    <mat-label>State</mat-label>
    <mat-select [(ngModel)]="state" (selectionChange)="stateChange($event)">
        <mat-option *ngFor="let s of states" [value]="s.value">
            {{s.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
