@import 'variables';

:host {
    display: block;
    height: 100%;
}

header {
    align-items: center;
    background-color: var(--msc-header);
    border-bottom: 1px solid var(--msc-border);
    display: flex;
    justify-content: space-between;
    padding: $spacer;
}

mat-sidenav-container {
    align-items: stretch;
    display: flex;
    min-height: 100%;
}

mat-sidenav {
    background-color: var(--msc-bg);
    padding: $spacer * 2;

    a {
        display: block;
        padding: $spacer / 2;
        width: 8rem;

        &:hover {
            text-decoration: none;
        }

        &.active {
            color: var(--msc-text);
            text-decoration: none;
        }
    }
}

mat-sidenav-content {
    padding: $spacer * 2;
    width: 100%;
}
