<header>
    <div>
        <button mat-button (click)="sidenav.toggle()">[=]</button>
        <strong>Oh look, Branding.</strong>
    </div>
    <msc-state-menu></msc-state-menu>
</header>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/states" routerLinkActive="active">States</a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
