<!-- we don't have cards yet, ever? -->
<div class="station">
    <div class="station-header">
        <h4>{{station.name}}</h4>
        <msc-menu>
            <msc-menu-item [disabled]="displayType === 'recent'" (click)="onDisplay('recent')" label="Recent"></msc-menu-item>
            <msc-menu-item [disabled]="displayType === 'week'" (click)="onDisplay('week')" label="Week"></msc-menu-item>
            <msc-menu-item [disabled]="displayType === 'wind'" (click)="onDisplay('wind')" label="Wind"></msc-menu-item>
        </msc-menu>
    </div>
    <div class="station-content">
        <ng-container [ngSwitch]="displayType">
            <msn-chart *ngSwitchCase="'week'" [data]="week$ | async"></msn-chart>
            <msn-wind-grid *ngSwitchCase="'wind'" [data]="wind$ | async"></msn-wind-grid>
            <ng-container *ngSwitchDefault>
                <msn-temp-grid *ngIf="recentAsTable; else chart" [data]="recent$ | async"></msn-temp-grid>
                <ng-template #chart>
                    <msn-chart [data]="recent$ | async"></msn-chart>
                </ng-template>
            </ng-container>
        </ng-container>
    </div>
</div>
