@import 'projects/next/src/sass/variables';

:host {
    display: block;
    height: 100%;
}

header {
    align-items: center;
    background-color: var(--msn-highlight);
    border-bottom: 1px solid var(--msn-border);
    color: var(--msn-light);
    display: flex;
    justify-content: space-between;
    padding: $spacer;

    strong {
        margin-left: $spacer;
    }
}


section {
    align-items: stretch;
    display: flex;
    min-height: 100%;
    overflow-x: hidden;
}

nav {
    background-color: var(--msn-light);
    border-right: 1px solid var(--msn-border);
    margin: 0;
    padding: $spacer * 2;
    transition: margin-left 500ms ease-in-out;
    width: 180px;

    &.closed {
        margin-left: -180px;
    }

    a {
        display: block;
        padding: $spacer / 2;
        width: 8rem;

        &:hover {
            text-decoration: none;
        }

        &.active {
            color: var(--msn-text);
            text-decoration: none;
        }
    }
}

main {
    padding: $spacer * 2;
    width: 100%;
}
