<header>
    <div>
        <msc-button goal="Primary" label="[=]" (click)="showNav = !showNav"></msc-button>
        <strong>Oh look, Branding.</strong>
    </div>
    <msn-state-menu></msn-state-menu>
</header>
<!-- The DS menu isn't ready, so please excuse me hacking this -->
<section>
    <nav [class.closed]="!showNav">
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/states" routerLinkActive="active">States</a>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</section>
