<ng-container *ngIf="user$ | async as user">
    <msc-select-control *ngIf="states$ | async as states" (mscSelect)="onSelect($event)" [(value)]="user.state">
        <msc-select-option *ngFor="let s of states" [value]="s.value"></msc-select-option>
    </msc-select-control>
</ng-container>
